<div class="automations-svg @@classList" id="featuresSvgContainer">
	<div class="features-svg__user-info user-info" id="featuresSvgUserInfo"></div>
	<svg viewBox="0 0 740 740" width="740px" height="740px" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<clipPath id="automationsClip" clipPathUnits="objectBoundingBox">
				<circle r=".5" cx=".5" cy=".5" fill="white"></circle>
			</clipPath>
		</defs>
		<circle class="automations-svg__circle automations-svg__circle_first" r="340" cx="50%" cy="50%" fill="none" stroke-width="1px"></circle>
		<image href="../../assets/images/automations/automations-svg/business-girl.jpg" width="590" height="590" x="75" y="75" clip-path="url(#automationsClip)"></image>
		<circle class="automations-svg__circle automations-svg__circle_second" r="250" cx="50%" cy="50%" fill="none" stroke-width="1px"></circle>
		<circle class="automations-svg__circle-deco_first" r="20" cx="117" cy="140"></circle>
		<circle class="automations-svg__circle-deco_second" r="12" cx="138" cy="620"></circle>
		<circle class="automations-svg__circle-deco_third" r="12" cx="710" cy="360"></circle>
	</svg>
</div>