<div class="features-svg @@classList" id="featuresSvgContainer">
	<div class="features-svg__user-info user-info" id="featuresSvgUserInfo"></div>
	<svg viewBox="0 0 740 740" width="740px" height="740px" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<filter id="featuresFilter" x="0" y="0" filterUnits="userSpaceOnUse">
				<feGaussianBlur in="blur" stdDeviation="3" />
			</filter>
			<clipPath id="featureTestimonialsClip" clipPathUnits="objectBoundingBox">
				<circle r=".5" cx=".5" cy=".5" fill="white" class="no-opacity"></circle>
			</clipPath>
		</defs>
		<g>
			<circle class="features-svg__animated-circle_first no-opacity" r="340px" cx="50%" cy="50%" stroke-width="3" filter="url(#featuresFilter)" fill="none"></circle>
			<circle class="features-svg__animated-circle_second no-opacity" r="250px" cx="50%" cy="50%" stroke-width="3" filter="url(#featuresFilter)" fill="none"></circle>
			<circle class="features-svg__animated-circle_third no-opacity" r="150px" cx="50%" cy="50%" stroke-width="3" filter="url(#featuresFilter)" fill="none"></circle>
			<circle class="features-svg__circle no-opacity" r="340px" stroke="red" cx="50%" cy="50%" fill="none" stroke-width="1px"></circle>
			<circle class="features-svg__circle no-opacity" r="250px" stroke="red" cx="50%" cy="50%" fill="none" stroke-width="1px"></circle>
			<circle class="features-svg__circle no-opacity" r="150px" stroke="red" cx="50%" cy="50%" fill="none" stroke-width="1px"></circle>
			<circle class="features-svg__circle-deco_first" r="12px" cx="10%" cy="90%"></circle>
			<circle class="features-svg__circle-deco_second" r="12px" cx="98.3%" cy="50%"></circle>
			<circle class="features-svg__circle-deco_third" r="6px" cx="15%" cy="15%"></circle>
			<circle class="features-svg__circle-deco_fourth" r="6px" cx="75%" cy="20%"></circle>
			<circle class="features-svg__circle-deco_fifth" r="8px" cx="59%" cy="74%"></circle>
			<circle class="features-svg__circle-deco_sixth" r="10px" cx="28%" cy="32%"></circle>
		</g>
		<g>
			<image href="../assets/images/features/features-svg/camera-icon.png" width="80" height="80" x="185" y="365"></image>
			<image href="../assets/images/features/features-svg/scheme-1-icon.png" width="46" height="34" x="540" y="300"></image>
			<image href="../assets/images/features/features-svg/scheme-2-icon.png" width="80" height="80" x="230" y="100"></image>
			<image href="../assets/images/features/features-svg/idea-icon.png" width="80" height="80" x="620" y="150"></image>
			<image href="../assets/images/features/features-svg/ellipse-icon.png" width="80" height="80" x="522" y="485"></image>
		</g>
		<g id="featuresSvgTestimonials" class="features-svg__testimonials">
			<circle r="46" cx="70" cy="210" stroke-width="3" stroke="#4b4aef" fill="none"></circle>
			<image width="80px" height="80px" x="30" y="170" clip-path="url(#featureTestimonialsClip)"></image>
			<circle r="38.5" cx="157.5" cy="492.5" stroke-width="3" stroke="#4b4aef" fill="none"></circle>
			<image width="65px" height="65px" x="125" y="460" clip-path="url(#featureTestimonialsClip)"></image>
			<circle r="54" cx="368" cy="368" stroke-width="3" stroke="#4b4aef" fill="none"></circle>
			<image width="96px" height="96px" x="320" y="320" clip-path="url(#featureTestimonialsClip)"></image>
			<circle r="34" cx="478" cy="268" stroke-width="3" stroke="#4b4aef" fill="none"></circle>
			<image width="56px" height="56px" x="450" y="240" clip-path="url(#featureTestimonialsClip)"></image>
		</g>
	</svg>
</div>