<section class="automations">
	@@include('./svg/automations-svg.html', {"classList": "automations__automations-svg"})
	<article class="automations__content">
		<h3 class="section-title automations__section-title">Save time with Automations</h3>
		<p class="section-text automations__section-text">Automate the repetitive work in seconds so you can avoid human error and focus on what matters. It gives the impression of software that its highly automated which implies that it is good for client for who want to save time and manage team members easily.</p>
	</article>
</section>