<section class="features">
	@@include('./svg/features-svg.html', {"classList": "features__features-svg"})
	<article class="features__content">
		<h3 class="section-title features__section-title">Manage everything in one workspace</h3>
		<p class="section-text features__section-text">Planning, tracking and delivering your team’s best work has never been easier. An integrated workspace that’s simple to use, TeamFlow lets you spend less time managing your work and more time actually doing it.</p>
	</article>
</section>