<section class="set-up">
	<div class="set-up__content">
		<h3 class="section-title set-up__section-title">Set up in minutes</h3>
		<p class="section-text set-up__section-text">
			Get started fast with hundreds of visual and customizable templates - or create your own. Use our free online template maker to create beautiful template in minutes.
			Choose from hundreds of pre-made templates and tell stories with data
			with our easy drag-and-drop infographic creator.
		</p>
	</div>
	<img class="set-up__image" alt="proposal" src="../assets/images/set-up/image_1.png" />
</section>