<section class="tools">
	<h2 class="heading tools__heading"><span>Integrate</span> with your existing tools in a few clicks</h2>
	<ul class="tools__list">
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/creative-cloud.jpg" alt="creative cloud">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/slack.jpg" alt="slack">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/dropbox.jpg" alt="dropbox">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/google-drive.jpg" alt="google drive">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/atlassian.jpg" alt="atlassian">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/digitalocean.jpg" alt="digital ocean">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/zoom.jpg" alt="zoom">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/linkedin.jpg" alt="linkedin">
			</div>
		</li>
		<li class="tools__item">
			<div>
				<img src="../assets/images/tools/github.jpg" alt="github">
			</div>
		</li>
	</ul>
	<button class="button button_preset-1 tools__button">View All</button>
</section>