* {
	margin: 0;
	padding: 0;
	user-select: none;
	font-size: 16px;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style: none;
}

input {
	user-select: auto;
	background: transparent;

	&:focus {
		outline: none;
		background: transparent;
	}
}

button, a {
	&:active {
		outline: none;
		-webkit-tap-highlight-color: transparent;
	}
}