$desktop-xl-width: 1921px;
$desktop-l-width: 1700px;
$desktop-m-width: 1440px;
$desktop-s-width: 1200px;
$tablet-width: 1024px;
$mobile-l-width: 640px;
$mobile-p-width: 480px;

$padding-desktop-xl: 170px;
$padding-desktop-l: 100px;
$padding-desktop-m: 60px;
$padding-mobile-l: 30px;
$padding-mobile-p: 10px;