@import "styleLib/variables";
@import "styleLib/mixins";
@import "svg/automations-svg";

.automations {
	@include wrapper(40px, $padding-desktop-xl, 100px, $padding-desktop-xl, $desktop-xl-width);

	@include desktop-l {
		@include wrapper(40px, $padding-desktop-l, 100px, $padding-desktop-l);
	}

	@include desktop-m {
		@include wrapper(40px, $padding-desktop-m, 80px, $padding-desktop-m);
	}

	@include mobile-l {
		@include wrapper(40px, $padding-mobile-l, 40px, $padding-mobile-l);
	}

	@include mobile-p {
		@include wrapper(40px, $padding-mobile-p, 40px, $padding-mobile-p);
	}

	width: 100%;
	overflow: hidden;
	display: grid;
	grid-template-columns: 680px 1fr;
	grid-column-gap: 70px;

	@include desktop-l {
		grid-template-columns: 640px 1fr;
		grid-column-gap: 50px;
	}

	@include desktop-m {
		grid-template-columns: 580px 1fr;
		grid-column-gap: 40px;
	}

	@include desktop-s {
		grid-template-columns: 500px 1fr;
	}

	@include tablet {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	&__automations-svg {
		width: 100%;
	}

	&__content {
		justify-self: end;
		align-self: center;

		@include tablet {
			align-self: flex-start;
		}
	}

	&__section-title {
		margin-bottom: 43px;
		max-width: 570px;
	}

	&__section-text {
		max-width: 750px;
	}
}