@import "styleLib/variables";
@import "styleLib/mixins";

.burger {
	position: fixed;
	top: 0;
	right: -500px;
	width: 500px;
	max-height: 100vh;
	z-index: 998;

	@include mobile-l {
		width: 100%;
		right: unset;
		left: 100%;
		bottom: 0;
	}

	@include mobile-p-height {
		width: 100%;
		right: unset;
		left: 100%;
		bottom: 0;
	}

	&__toggle {
		position: fixed;
		display: none;
		width: 60px;
		height: 50px;
		background: transparent;
		cursor: pointer;
		border: 4px solid #FFCA1D;
		border-radius: 3px;
		top: 58px;
		right: calc($padding-desktop-xl);
		z-index: 999;
		transition: border 150ms ease-in-out;

		@include desktop-l {
			right: calc($padding-desktop-l);
		}

		@include desktop-m {
			right: calc($padding-desktop-m);
		}

		@include mobile-l {
			right: calc($padding-mobile-l);
		}

		@include mobile-p {
			top: 28px;
			right: calc($padding-mobile-p);
		}

		@include mobile-p-height {
			right: calc($padding-mobile-l);
		}

		span {
			display: block;
			content: '';
			position: absolute;
			width: 40px;
			height: 4px;
			border-radius: 4px;
			background: #FFCA1D;
			transition: background 150ms ease-in-out;
		}

		&_open {
			span {
				right: 6px;
				top: 50%;
				transition: width 150ms ease-in-out;
			}

			:nth-child(1) {
				transform: translateY(-350%);
			}

			:nth-child(2) {
				transform: translateY(-150%);
			}

			:nth-child(3) {
				transform: translateY(50%);
			}

			:nth-child(4) {
				transform: translateY(250%);
			}

			&:hover {
				:nth-child(1) {
					width: 30px;
				}

				:nth-child(2) {
					width: 35px;
				}

				:nth-child(3) {
					width: 25px;
				}

				:nth-child(4) {
					width: 15px;
				}
			}
		}

		&_close {
			@include mobile-p-height {
				right: calc($padding-mobile-l);
			}

			@include mobile-l-height {
				right: calc($padding-mobile-p);
			}

			@include mobile-l {
				right: calc($padding-mobile-l);
			}

			@include mobile-p {
				right: calc($padding-mobile-p);
			}

			span {
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: background 150ms ease-in-out;
			}

			:nth-child(1) {
				transform: translateX(-50%) translateY(-50%) rotate(45deg);
			}

			:nth-child(2) {
				transform: translateX(-50%) translateY(-50%) rotate(-45deg);
			}
		}

		&_visible {
			display: block;
		}

		&:hover {
			border: 4px solid #eb7f1d;

			span {
				background: #eb7f1d;
			}
		}
	}

	&_opened {
		right: 0;

		@include mobile-p-height {
			right: unset;
			left: 0;
		}

		@include mobile-l {
			right: unset;
			left: 0;
		}

		.burger__menu {
			transform: translateX(0);
		}
	}

	&__menu {
		display: flex;
		flex-direction: column;
		background: #222;
		width: 100%;
		height: 100%;
		padding: 60px $padding-desktop-m 60px $padding-desktop-m;
		transition: transform 150ms ease-in-out;
		transform: translateX(100%);
		overflow-y: auto;

		@include mobile-p-height {
			padding: 70px $padding-mobile-l 30px $padding-mobile-l;
		}

		@include mobile-l-height {
			padding: 70px $padding-mobile-p 30px $padding-mobile-p;
		}

		@include mobile-l {
			padding: 60px $padding-mobile-l 30px $padding-mobile-l;
		}

		@include mobile-p {
			padding: 30px $padding-mobile-p 20px $padding-mobile-p;
		}
	}

	&__logo {
		margin-bottom: 20px;
	}

	&__search {
		width: 100%;
		height: 40px;
		min-height: 40px;
		margin-bottom: 20px;
		background: #fff;
		border-radius: 6px;
		overflow: hidden;
		position: relative;

		input {
			width: 100%;
			height: 100%;
			border: none;
			background: transparent;
			padding: 5px 40px;
			color: #606060;
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 600;
		}

		.search-icon {
			position: absolute;
			z-index: 2;
			width: 20px;
			left: 20px;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	&__search-button {
		position: absolute;
		z-index: 2;
		right: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: transparent;
		border: none;
		transform: rotate(90deg);
		cursor: pointer;
		width: 40px;
		height: 40px;

		.arrow-icon {
			height: 20px;
		}
	}

	&__login {
		display: grid;
		grid-template-areas:
		"icon buttons"
		"icon description";
		grid-template-columns: 60px 1fr;
		grid-column-gap: 40px;
		grid-row-gap: 10px;
		margin-bottom: 10px;

		@include mobile-p {
			grid-column-gap: 20px;
		}
	}

	&__login-icon {
		width: 100%;
		display: block;
		align-self: center;
		grid-area: icon;
	}

	&__login-buttons {
		width: 100%;
		display: flex;
		gap: 20px;

		span {
			display: block;
			width: 2px;
			border-radius: 2px;
			height: 100%;
			background: #fff;
		}
	}

	&__login-button {
		color: #fff;
		transition: border-color 0.2s ease-in-out;
		background: transparent;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 400;
		font-size: 20px;
		border-width: 2px;
		border-style: solid;
		border-color: #fff;
		cursor: pointer;
		padding: 5px;
		border-radius: 5px;

		@include mobile-p {
			font-size: 16px;
		}

		&:hover {
			border-color: #eb7f1d;
		}
	}

	&__login-description {
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 400;
		font-size: 16px;
		color: #fff;
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__upper-section {
		justify-content: center;
		align-items: center;
		height: 40px;
		position: relative;
		display: none;

		button {
			width: 40px;
			height: 40px;
			position: absolute;
			left: 0;
			top: 0;
			background: transparent;
			border: none;
			cursor: pointer;
			margin-bottom: 10px;

			span {
				position: absolute;
				display: block;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				height: 4px;
				border-radius: 4px;
				background: #FFCA1D;
				transition: background 150ms ease-in-out;
			}

			&:after,
			&:before {
				transform-origin: 0 50%;
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				width: 20px;
				height: 4px;
				border-radius: 4px;
				background: #FFCA1D;
				transition: background 150ms ease-in-out;
			}

			&:after {
				transform: translateY(-50%) rotate(-25deg);
			}

			&:before {
				transform: translateY(-50%) rotate(25deg);
			}

			&:hover {
				span,
				&:after,
				&:before {
					background: #eb7f1d;
				}
			}
		}

		a {
			font-family: 'Nunito Sans', sans-serif;
			font-weight: 400;
			font-size: 20px;
			color: #fff;
			transition: color 150ms ease-in-out;

			&:hover {
				color: #eb7f1d;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__link {
		display: block;
		background: rgba(255, 255, 255, .1);
		border-radius: 4px;
		padding: 5px 5px 5px 10px;
		font-family: 'Nunito Sans', sans-serif;
		font-weight: 400;
		font-size: 20px;
		color: #fff;
		transition: color 150ms ease-in-out, background 150ms ease-in-out;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 4px;
			border-radius: 4px;
			background: #eb7f1d;
			opacity: 0;
			transition: opacity 150ms ease-in-out;
		}

		&:hover {
			background: rgba(255, 255, 255, .3);

			&:after {
				opacity: 1;
			}
		}
	}
}